@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Lato:ital,wght@0,700;1,300&family=Open+Sans&family=Poppins&family=Roboto+Slab&family=Work+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Lato' ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root, [data-theme]{
  background-color: white;
  color: black;
}